body {
    margin: 0px;
}
#main_container {
    margin: 10px;
}
#side_box {
    padding: 5px;
    background-color: lightblue;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 40%;
    border: 1px solid black;
    font-size: 20px;
    max-width: 400px;
    float: left;
}
.type_container {
    border: 1px solid black;
    border-radius: 10px;
    float: right;
    width: 55%;
    padding: 5px;
    margin-bottom: 5px;
    background-color: lightblue;
}
#edit_button {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 25px;
}