body {
    margin: 0px;
}
.login_container {
    margin: 10px;
    text-align: center;
}
input[type=text] {
    border: 2px solid black;
    border-radius: 20px;
    padding: 3px;
    font-size: 20px;
    padding: 6px;
    width: 20%;
    text-align: center;
    margin-top: 10px;
}
input[type=submit] {
    border: 2px solid black;
    border-radius: 20px;
    padding: 3px;
    font-size: 20px;
    width: 21%;
    height: 40px;
    margin-top: 100px;
}
br {
    margin-bottom: 1%;
}