html * {
    font-family: sans-serif;
}

.navbar_container_ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #464a4d;
    font-weight: bold;
}

.navbar_container_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #464a4d;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navbar_container_ul li a:hover {
    background-color: #1d1f21;
}

.right {
    float: right;
}

.left {
    float: left;
}
