body {
    margin: 0px;
}

a {
    display: block;
    padding: 8px;
    background-color: #464a4d;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #464a4d;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navbar_button {

}

li a:hover {
    background-color: #1d1f21;
}
.navbar_button_li {
    float: left;
}
.navbar_button {

}
#login_button_li {
    float: right;
}
#index_bg_img_img {
    max-height: 400px;
    object-fit: cover;
}
