body {
    background-color: #b9f5d8;
}
.inline {
    display: inline;
}
.building_type_container {
    border: 1px solid #000000;
}
.main_form_container {
    background-color: #6b8f71;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}
.secondary_container {
    background-color: #aad2ba;
    padding: 10px;
    border-radius: 10px;
}
p {
    color: #1d1e18;
}
.coords_container {
    padding: 10px;
    margin: auto;
    text-align: center;
}
.center {
    margin: auto;
}
button {
    background-color: 6b8f71;
}
