body {
    background-color: #b9f5d8;
}
.inline {
    display: inline;
}
.building_type_container {
    border: 1px solid #000000;
}
.main_form_container {
    background-color: #6b8f71;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    max-width: 900px;
}
.secondary_container {
    background-color: #aad2ba;
    padding: 10px;
    border-radius: 10px;
}
p {
    color: #1d1e18;
}
.coords_container {
    padding: 10px;
    margin: auto;
    text-align: center;
}
.center {
    margin: auto;
}
button,select,input[type=submit] {
    background-color: #38543c;
    border-radius: 9px;
    border: 1px solid black;
    color: black;
    font-weight: bold;
    font-size: 13px;
    transition-duration : 0.2s;
    color: white;
    padding: 3px;
}
button:hover {
    background-color: #446349;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24), 0 10px 20px 0 rgba(0,0,0,0.19);
}
input[type=text],textarea {
    background-color: #80c28b;
    border-radius: 10px;
    padding: 3px;
    transition-duration: 0.2s;
    border: 2px solid #364a39;
    outline: none ! important;
}
input[type=text]:hover:not(:focus),textarea:hover:not(:focus) {
    background-color: #a5d6ad;
}
input[type=text]:focus,textarea:focus {
    background-color: #314735;
    border: 2px solid #8abf93;
    outline: none ! important;
    color: #b5f5c0;
}
.district_street_unit_container{
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.building_type_container_main {
    border: none;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid black;
}
h3 {
    margin: auto;
    color: #e1fae5;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    text-align: center;
}
.building_type_container {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
}
.del_button {
    float: right;
}
#add_building_type {
    margin-bottom: 10px;
}
.street_details_container_main {
    text-align: center;
}
br {
    margin-bottom: 10px;
}





